[submodule "bundle/dwm.vim"]
	path = bundle/dwm.vim
	url = git://github.com/spolu/dwm.vim.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
